<project class="project-box featured-project">
    <div class="project-textbox">
      <h3 class="h3"><%= project.name %></h3>
      <p class="project-text"><%= project.description %></p>
      <div class="project-demo">

        <%= link_to "More Info and Demo", project_path(project), class: "link" %>

        <%# <%= link_to "View Demo", project_path(project), class: "link" %>

        <%= link_to ("GitHub <i class='fa-brands fa-github-alt'></i>").html_safe, project.gh_url, class: "link", target: :_blank  %>
      </div>
    </div>
    <picture class="project-illustration">
      <%= image_tag project.img_url %>
    </picture>
</project>
