<!DOCTYPE html>
<html>
  <head>
    <title>Catalina's Portfolio</title>
    <meta
      name="description"
      content="Welcome to my portfolio website. I am a full-stack web developer.
      Explore my projects and contact me for any inquiries or collaborations."
    />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta itemprop="name" content="Catalina Galan's Portfolio">
    <meta
      itemprop="description"
      content="Welcome to my portfolio website. I am a full-stack web developer.
      Explore my projects and contact me for any inquiries or collaborations."
    />
    <meta itemprop="image" content="../../assets/images/sharing-card.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="../../assets/images/sharing-card.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">

    <%= favicon_link_tag asset_path('favicons.png') %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script>
      var storedTheme = localStorage.getItem("theme") || "dark";
      document.body.className = storedTheme;
    </script>
  </head>

  <body data-controller="theme" data-theme-target="themeElement">
    <%= yield %>
  </body>
  <%= render 'footer' %>
</html>
